<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Canada Protection Plan WFG</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body style="font-family: 'Roboto', Arial, Helvetica, sans-serif;">
    <header>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2F9to5mac.com%2F2018%2F02%2F20%2Fapple-rainbow-apple-logo%2F&psig=AOvVaw0sy_yAaDuoKog-t-y_bjSt&ust=1600521114801000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKinzPbj8usCFQAAAAAdAAAAABAN"
            style="width: 140px; height: 95px;" />
        <hr />
    </header>
    <main style="padding: 30px 0px;">
        <p style="
          color: #434343;
          font-size: 14px;
          line-height: 1.5;
          margin: 0 0 25px;
        ">
            Hello <%= name%>
        </p>
        <p style="
          color: #434343;
          font-size: 14px;
          line-height: 1.5;
          margin: 0 0 25px;
        ">
            <%= message%>
        </p>
    </main>
</body>
<footer>
    <hr />
    <p>
        Canada Protection Plan and the logo are trademarks of Canada Protection
        Plan Inc.
    </p>
</footer>

</html>